{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        "macros",
        [
            "@svgr/babel-plugin-remove-jsx-attribute",
            {
                "elements": [
                    "path"
                ],
                "attributes": [
                    "strokeWidth"
                ]
            }
        ]
    ]
}